﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyMusic</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div style="float:right" class="btn-group" >
        <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            DİL <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">TR</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
    </div>

    <table width="900" align="center">
        <tr>
            <td>

                <img src="~/Content/img/bap.png" width="1400" height="400">
        </tr>

        </td>
    </table>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Ana Sayfa</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"> Iletisim <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Yeni Cıkan</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Giris</a></li>
                    <li><a href="#">Kayıt Ol</a></li>
                    <li><a href="#">Iletisim</a></li>

                </ul>
                @*<div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>*@
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                </form>
            </div>
            </form>
        </div>
        </div>
    </nav>


  

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
