﻿body {
    background-color:#F1F1F1;
    color:White;

    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    
}
footer 
{

background-color:#f1f1f1;
color:#000000;
}


/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
}
tr{
    text-decoration-color:#000000;
    color:#000000;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}