﻿@{
    ViewBag.Title = "Home Page";
}



<table width="900" height="215" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left">
                <div class="ustfilm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/wings.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">K-POP</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="ustfilm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/apop.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">A-POP</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="ustfilm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/tpop.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">T-POP</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="ustfilm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/jpop.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">J-POP</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>





<table width="900" height="215" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left">
                <div class="ustfilm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                            <tr> <td style="text-align: center;">Hip-Hop</td> </tr>
                            <tr> <td style="text-align: center;">Pop</td> </tr>
                            <tr> <td style="text-align: center;">Rock</td> </tr>
                            <tr> <td style="text-align: center;">Ballad</td> </tr>
        </tr>
    </tbody>
</table>
    </div>
 </td>
<td>
    <div class="ustfilm">
        <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                <tr> <td style="text-align: center;">Hip-Hop</td> </tr>
                <tr> <td style="text-align: center;">Pop</td> </tr>
                <tr> <td style="text-align: center;">Rock</td> </tr>
                <tr> <td style="text-align: center;">Ballad</td> </tr>
                </tr>
            </tbody>

        </table>
    </div>
</td>
<td>
    <div class="ustfilm">
        <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                <tr> <td style="text-align: center;">Hip-Hop</td> </tr>
                <tr> <td style="text-align: center;">Pop</td> </tr>
                <tr> <td style="text-align: center;">Rock</td> </tr>
                <tr> <td style="text-align: center;">Ballad</td> </tr>
                </tr>
            </tbody>
        </table>
    </div>
</td>
<td>
    <div class="ustfilm">
        <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                <tr> <td style="text-align: center;">Hip-Hop</td> </tr>
                <tr> <td style="text-align: center;">Pop</td> </tr>
                <tr> <td style="text-align: center;">Rock</td> </tr>
                <tr> <td style="text-align: center;">Ballad</td> </tr>
                </tr>
            </tbody>
        </table>
    </div>
</td>


            </tr>
        </tbody>
    </table>

<footer >
    <p>&copy; @DateTime.Now.Year - B.A.P</p>
</footer>


